language: php

notifications:
  email:
    on_success: never
    on_failure: change

php:
  - 7.0

matrix:
  include:
    - env: WP_TRAVISCI=phpcs

install:
  - export PATH="$HOME/.composer/vendor/bin:$PATH"
  - composer global require squizlabs/php_codesniffer
  - composer global require wp-coding-standards/wpcs
  - phpcs --config-set installed_paths $HOME/.composer/vendor/wp-coding-standards/wpcs

script:
  - |
    if [[ "$WP_TRAVISCI" == "phpcs" ]] ; then
      phpcs
    fi
